{% load static %}

{% include 'header.html' %}

    <div class="container_1"> <a href="{% url 'index' %}" class="a">Главная </a> <img class="img_a" src="../static/style/IMG/Rectangle 55.png"
    alt=""> <a href="{% url 'exam' %}" class="a">Экзамен HSK</a></div>

    
    <!-- main  -->
    <div class="container_2">
        
        {% for i in exem_photo %}
        <img src="{{i.image.url}}" alt="" class="service_img">
        {% endfor %}

        <h1 class="ex_h1">Luctus facilisi ultrices varius et purus blandit. <br> Ultrices nec hendrerit odio risus sit mauris. Tellus.</h1>
    </div>
    
    {% for i in exem_text %}
                
    <div class="container_3">
        <div class="container_3_p">
            {{i.exam_text_1}}
        </div>
        
        {% for i in exem_level %}
                        
        <div class="container_3_sp">
            <h5 class="container_3_sp_h5">Уровни:</h5>
            <div class="container_3_sp_all">
                <div class="container_3_sp_all_one"><img src="../static/style/IMG/Rectangle 55.png" alt="" class="container_3_sp_all_one_img"> <span class="container_3_sp_all_one_span"> {{i.level}} уровень</span> - словарный запас {{i.words}} слов - время проведения {{i.minute}} минут
                </div>
            </div>
        </div>
        <div class="container_3_sp">
            <h5 class="container_3_sp_h5">Проходной балл:</h5>
            <div class="container_3_sp_all">
                <div class="container_3_sp_all_one"><img src="../static/style/IMG/Rectangle 55.png" alt="" class="container_3_sp_all_one_img"> <span class="container_3_sp_all_one_span"> {{i.level_for_study}} уровень</span> - {{i.balls}} баллов из {{i.all_balls}}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="container_3_last">
            <p class="container_3_last_p1">{{i.exam_text_2}}</p>
            
            {% for i in exem_text_3 %}
            <div class="container_3_last_last_ps">
                <div class="container_3_last_last_p"><img style="height: 8px; width: 8px; margin-top: 8px; margin-right: 10px;" src="../static/style/IMG/Rectangle 55.png" alt="" class="container_3_sp_all_one_img"> <p class="container_3_last_last_p_p">{{i.exam_text_3}}</p></div>
            </div>
            {% endfor %}
            <p class="container_3_last_p1">{{i.exam_text_4}}</p>
        </div>
        <div style="display: flex; flex-wrap: wrap;" class="container_3_msks">
        <a style="margin-top: 10px;" href="" class="container_3_msk">MSK 1</a>
        <a style="margin-top: 10px;" href="" class="container_3_msk">MSK 2</a>
        <a style="margin-top: 10px;" href="" class="container_3_msk">MSK 3</a>
        <a style="margin-top: 10px;" href="" class="container_3_msk">MSK 4</a>
        <a style="margin-top: 10px;" href="" class="container_3_msk">MSK 5</a>
        <a style="margin-top: 10px;" href="" class="container_3_msk">MSK 6</a>
        </div>
    </div>

    {% endfor %}





    {% include 'footer.html' %}
