{% load static %}

{% include 'header.html' %}
<div class="container_1"><img class="img_a" src="../static/style/IMG/Rectangle 55.png"
    alt=""> <a href="{% url 'index' %}" class="a">Главная </a> </div>
<div class="container_1">
    <div class="new_card" style="width: 18rem;">
        <div class="new_body">
            <h5 class="card-title new_h5">{{new.news_h1}}</h5>
            <p class="new_p">
               {{new.news_p}}
            </p>
            <p style="width: 90vw;"  class="event_p">{{new.description}}</p>
        </div>
    </div>
</div>


{% include 'footer.html' %}